/**
* Vertical & horizontal centering is easier with a class like this than with Tailwind utilities.
*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
